.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.hashtagLeft {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;

  background-color: rgb(1, 1, 22);
  color: white;
  border-right: 1px gray solid;
}

.logoContainer  {
  width: 100%;
  cursor: pointer;
}

.logo {
  width: 100px;
  aspect-ratio: auto;
  cursor: pointer;
}

.userInfoContainer {
  width: 100%;
  display: flex;
}

.userDetailsContainer  {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.userPictureContainer {
  width: 15%;
  height: 100%;
  min-width: 30px;
}

.userFirstName {
  width: 100%;
}
.userUsername {
  width: 100%;
}

.hashtagCenter {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  color: white;
  background-color: rgb(1, 1, 22);
}

.hashtagCenterTopContainer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;

  border-bottom: gray;
}

.pageTitle {
  width: 100%;
  height: 40px;
  text-align: left;

  display: flex;
  align-items: center;
}

.hashtagSearchContainer {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.hashtagSearch {
  width: 100%;
  min-height: 40px;
}
.hashtagCenterBottomContainer {
  height: 75%;
  width: 100%;
  overflow: auto;
}

.hashtagRight {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  color: white;
  background-color: rgb(1, 1, 22);
  border-left: 1px lightgray solid;
}

.lastTrendsTitle {
  width: 100%;
  height: 40px;
  text-align: left;

  display: flex;
  align-items: center;
}

.lastTrendsContainer {
  width: 100%;
}

.trend {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.trend:hover {
  opacity: 0.5;
}
